<main id="portafolio-main">
    <div id="hero" class="hidden">
        <h2>Aquí va el título de la presentación</h2>
        <h3>Aquí va el título académico</h3>
        <div class="img-container">
            <img src="" alt="Imagen presentación">
        </div>
        <p>Descripción Presentación</p>
    </div>
    <section id="about-me" class="hidden">
        <h2>Aquí va el título del About-Me</h2>
        <p>Aquí va el about-me</p>
    </section>
    <div id="skills" class="hidden">
        <h2>Mis Habilidades</h2>
        <section id="skill-section">

        </section>
    </div>
    <div id="degrees" class="hidden">
        <h2>Mis títulos</h2>
        <section id="degree-section">

        </section>
    </div>
</main>