<main id="control-panel-main">
    <h2>PANEL DE CONTROL DE ${USUARIO}</h2>
    <div id="control-panel-options">
        <div id="user-options">
            <h3>PORTAFOLIO</h3>
            <ul>
                <li><a class="hidden" id="create-portfolio-button" href="">CREAR PORTAFOLIO</a></li>
                <li><a class="hidden" id="edit-portfolio-button" href="">EDITAR PORTAFOLIO</a></li>
                <li><a class="hidden" id="delete-portfolio-button" href="">BORRAR PORTAFOLIO</a></li>
            </ul>
        </div>
        <ul id="admin-options" class="hidden">
            <h3>OPCIONES DE ADMINISTRADOR</h3>
            <ul>
                <li><a id="register-user-button" href="">REGISTRAR USUARIO</a></li>
                <li><a id="delete-user-button" href="">EDITAR USUARIO</a></li>
            </ul>
        </ul>
    </div>
</main>