<h2 id="degree-header-text">TÍTULO ACADÉMICO</h2>
<form id="degree-form" enctype="multipart/form-data">
    <input type="text" id="degree-name" placeholder="Nombre del Título">
    <input type="text" id="degree-description" placeholder="Descripción del Título">
    <label for="degreeStartDate">Fecha de inicio</label>
    <input type="date" id="degree-start-date">
    <label for="degreeEndDate">Fecha de finalización</label>
    <input type="date" id="degree-end-date">
    <label for="degreeImageFile">Imagen del Título</label>
    <input type="file" id="degree-image-file">
    <div class="img-container">
        <img id="degree-old-image-file" alt="Imagen del Título">
    </div>
    <button id="degree-form-submit-button">Guardar cambios</button>
</form>