    <h2>EDITAR PRESENTACIÓN</h2>
    <form id="hero-form" enctype="multipart/form-data">
        <input type="text" name="hero-title" id="hero-title"  placeholder="El título de tu presentación">
        <input type="text" name="hero-degree" id="hero-degree" placeholder="Tu título académico">
        <label for="img-hero">Imagen de la Presentación</label>
        <div class="img-container">
            <img id="actual-img-hero">
        </div>
        <input type="file" name="img-hero" id="img-hero">
        <input type="text" name="hero-description" id="hero-description" placeholder="Descripción Presentación">
        <button type="submit" id="hero-submit-btn">Guardar cambios</button>
    </form>